extends layout

block content
  h1= title
  p 
    i Downloading all resource images for the ukwelys backend
  
  div.container
    span 
      p 
        | Purpose of the api is to fetch the image ulrs from the imageulr table 
        | in the imageurls table for the ukwelys backend database, download the images 
        | and store them in a specific location on  on the application 
